# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
goception

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# Compiled Object files, Static and Dynamic libs
*.o
*.a

# Log files
*.log

# MacOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*~

# Project specific temporary files
tmp/
temp/
test.gct
check-type-errors.gct 